[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.6.5"

[packages]
nameko = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
